<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center py-4 bg-primary text-white">Panel de Administración</h1>
    </div>
</div>
<div class="countainerG py-4">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <H2>Gestion de clientes</H2>
        <div class="card">
            <div class="card-body">
                <form action="/pagRegistro/" method="POST">{% csrf_token %}
                              
                <div class="form-group">
                    <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" minlength="1" maxlength="15" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtNombre1" name="txtNombre1" class="form-control" placeholder="Primer nombre" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtNombre2" name="txtNombre2" class="form-control" placeholder="Segundo nombre" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtApellido1" name="txtApellido1" class="form-control" placeholder="Apellido paterno" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtApellido2" name="txtApellido2" class="form-control" placeholder="Apellido materno" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtDireccion" name="txtDireccion" class="form-control" placeholder="Direccion" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="email" id="txtCorreo" name="txtCorreo" class="form-control" placeholder="Correo electronico" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtClave" name="txtClave" class="form-control" placeholder="Clave" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                </div>
            </div>            
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1> Lista de clientes</h1>
        <div class="table-responsive py-2" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in clientes %}
                    <tr>
                        <td>{{x.codigo}}</td>
                        <td>{{x.p_nombre}}</td>
                        <td>{{x.correo}}</td>
                        <td><a href="/pagEditar/{{x.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/pagEliminar/{{x.codigo}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>"
    </div>
</div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2 text-center">
        <a href="{% url 'pagPanel' %}" class="btn btn-primary">Panel principal</a>
</div>

