{% extends "./pagBase.html" %}

{% block title %}Check{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center py-4 bg-primary text-white">Selección de habitaciones</h1>
    </div>
</div>
<div class="container py-4">
    <div class="row justify-content-center"> <!-- Centra el contenido -->
        <div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
            <h2>Gestión de habitaciones</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <label for="nuevo_estado">Gestion: </label>
                        <select id="nuevo_estado" name="nuevo_estado">
                            <option value="Ocupada">Reservar</option>
                        </select>
                        <h10>Cantidad de personas</h10> 
                        <input name="number" type="number" id="numeroInput" min="1" max="4" placeholder="" required>

                        <div class="habitaciones-buttons">
                            <div class="row">
                                {% for habitacion in habitaciones %}
                                    {% if habitacion.estado_ocupacion == 'Libre' %}
                                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <h5 class="card-title">Habitación: {{ habitacion.num_habitacion }}</h5>
                                                    <p class="card-text mb-0">Tipo: {{ habitacion.tipo }}</p>
                                                    <p class="card-text mb-0">Precio: {{ habitacion.precio }}</p>
                                                    <p class="card-text mb-0">Estado de ocupación: {{ habitacion.estado_ocupacion }}</p>
                                                    <p class="card-text mb-0">Capacidad: {{ habitacion.capacidad }}</p>
                                                    <p class="card-text mb-0">Descripción: {{ habitacion.descripcion }}</p>
                                                    <label class="mt-3">
                                                        <input type="checkbox" name="habitaciones_seleccionadas" value="{{ habitacion.num_habitacion }}">
                                                        Seleccionar
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-block text-white">Guardar Cambios</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}