<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <H2>Edicion de clientes</H2>
            <div class="card">
                <div class="card-body">
                    <form action="/pagEdicion/" method="POST">{% csrf_token %}                                  
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value="{{clientes.codigo}}" class="form-control" placeholder="Codigo" maxlength="15" readonly required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre1" name="txtNombre1" value="{{clientes.p_nombre}}" class="form-control" placeholder="Nombre1" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombre2" name="txtNombre2" value="{{clientes.s_nombre}}" class="form-control" placeholder="Nombre2" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido1" name="txtApellido1" value="{{clientes.apellido_p}}" class="form-control" placeholder="Apellido1" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtApellido2" name="txtApellido2" value="{{clientes.apellido_m}}" class="form-control" placeholder="Apellido2" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtDireccion" name="txtDireccion" value="{{clientes.direccion}}" class="form-control" placeholder="Direccion" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtCorreo" name="txtCorreo" value="{{clientes.correo}}" class="form-control" placeholder="Correo" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtClave" name="txtClave" value="{{clientes.clave}}" class="form-control" placeholder="Clave" maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                    </div>
                </div>            
            </div>
    </div>
</div>
