<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center py-4 bg-primary text-white">Panel de Administración</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2 text-center">
        <a href="{% url 'pagADM' %}" class="btn btn-primary">Administración de clientes</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2 text-center">
        <a href="{% url 'pagHabitacion' %}" class="btn btn-primary">Administración de habitaciones</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2 text-center">
        <a href="{% url 'pagUregistro' %}" class="btn btn-primary">Administración de reservas</a>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-8 offset-md-2 text-center">
        <form method="post" action="{% url 'pagLogout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    </div>
</div>