<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>



<div class="row">
    <div class="col-sm-12">
        <h1 class="text-center py-4 bg-primary text-white">Panel de Administración</h1>
    </div>
</div>
<div class="countainerG py-4">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <H2>Gestion de reservas</H2>
        <div class="card">
            <div class="card-body">
                <form action="/pagUregistro/" method="POST">{% csrf_token %}
                              
                <div class="form-group">
                    <input type="text" id="txtReserva" name="txtReserva" class="form-control" placeholder="Numero reserva" minlength="1" maxlength="15" required>
                </div>
                <div class="form-group">
                    <input type="date" id="txtFechaE" name="txtFechaE" class="form-control" placeholder="Fecha entrada" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="date" id="txtFechaS" name="txtFechaS" class="form-control" placeholder="Fecha salida" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtEstado" name="txtEstado" class="form-control" placeholder="Estado reserva" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtCliente" name="txtCliente" class="form-control" placeholder="Cliente" maxlength="50" required>
                </div>
                <div class="form-group">
                    <input type="text" id="txtPersonas" name="txtPersonas" class="form-control" placeholder="Numero personas" maxlength="50" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block text-white"> Guardar </button>
                </div>
            </div>            
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1> Lista de reservas</h1>
        <div class="table-responsive py-2" >
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Reserva</th>
                        <th>Cliente</th>
                        <th>Hospedantes</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in reserva %}
                    <tr>
                        <td>{{x.num_reserva}}</td>
                        <td>{{x.cliente}}</td>
                        <td>{{x.nro_personas}}</td>
                        <td><a href="/pagEditarR/{{x.num_reserva}}" class="btn btn-info">Editar</a></td>
                        <td><a href="/pagEliminarR/{{x.num_reserva}}" class="btn btn-danger">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>"
    </div>
</div>
</div>

